# client authentication method: private_key_jwt
# authorization grant type: authorization_code
authorization_code_sample:
  grant_type: 'authorization_code'
  login:
    auth_info: '{"email": "username", "password": "password"}'
    login_endpoint: 'https://example.com/login'
  client_id: '11111111-1111-1111-1111-111111111111'
  redirect_uri: 'https://example.com/oatuh2/callback'
  authorization_endpoint: 'https://example.com/oauth2/auth'
  token_endpoint: 'https://example.com/oauth2/token'
  jwt_claims:
    audience: 'https://example.com/oauth2/token'
  algorithm: 'RS256'
  key: '{"key": "value"}'
  scopes:
    - "openid"
    - "email"
# client authentication method: private_key_jwt
# authorization grant type: client_credentials
local:
  grant_type: 'client_credentials'
  client_id: '11111111-1111-1111-1111-111111111111'
  redirect_uri: 'https://example.com/oatuh2/callback'
  token_endpoint: 'https://example.com/oauth2/token'
  jwt_claims:
    audience: 'https://example.com/oauth2/token'
  algorithm: 'RS256'
  key: '{"key": "value"}'
  scopes:
    - "openid"
    - "email"

